/* CryptoDataTable.css */
.crypto-table {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    height: 32px;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid #ddd;
}

.numberAlignment {
    text-align: end;
}

.middle {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

th {
    background-color: #f2f2f2;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

img {
    max-width: 30px;
    max-height: 30px;
}

@media (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    td {
        display: flex;
        justify-content: space-between;
        border: none;
    }

    th {
        display: none;
    }

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    .numberAlignment {
        text-align: center;
    }

    td:nth-of-type(1):before {
        content: "#";
    }

    td:nth-of-type(2):before {
        content: "Coin";
    }

    td:nth-of-type(3):before {
        content: "Price";
    }

    td:nth-of-type(4):before {
        content: "Net Change(24h";
    }

    td:nth-of-type(5):before {
        content: "Net Change(7d)";
    }
    
}